@Styles.Render("/Content/css")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel">
                <div class="panel-heading">
                    <h1>About Us</h1>
                </div>
                <div class="panel-body">
                    <p class="lead">Matt's Guitar Store opened in 2017 and is here for all of your guitar needs.  We hope you have a great expeience shopping at our web store.</p>
                </div>
            </div>
        </div>
    </div>
</div>