@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matt's Guitar Store</h1>
    <p class="lead">We specialize in Acoustic, Electric, and Bass Guitars.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Electric guitars</h2>
        <p>
            Click here for our electric guitar collection.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Acoustic guitars</h2>
        <p>
            See our bass guitars.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bass guitars</h2>
        <p>
            We have a large selection of bass guitars.
        </p>
    </div>
</div>