@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matt's Guitar Store</h1>
    <p class="lead">We specialize in Acoustic, Electric, and Bass Guitars.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Electric guitars</h2>
        <p>
            Click here for our @Html.ActionLink("electric guitar collection", "List", "Guitar")
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Amplifiers</h2>
        <p>
            See our @Html.ActionLink("amplifiers", "List", "Amplifier")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Effects Pedals</h2>
        <p>
            We have a large selection of @Html.ActionLink("effects pedals", "List", "Effects")
        </p>
    </div>
</div>