@Styles.Render("/Content/css")
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.293057576241!2d-87.70072648513184!3d41.97251736748026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcdff6beecbfb%3A0xcee427a7dcabaf49!2s5009+N+California+Ave%2C+Chicago%2C+IL+60625!5e0!3m2!1sen!2sus!4v1509760044780" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>