
/*Microsoft Default CSS Rules*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Begin Custom CSS Rules*/
* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    background: url(/images/background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 20px;
}

iframe {
    margin-top: 3em;
    margin-bottom: 5em;
}

li {
    height: 100%;
}

table, tr, td, th {
    background-color: white;
    color: black;
    margin-top: 3em;
    margin-bottom: 5em;
}


//classes
.box {
    margin-top: 1em;
}
.jumbotron {
    background-color: rgba(255, 255, 250, 0.7);
}

.panel, .well {
    background-color: rgba(255, 255, 250, 0.7);
    margin-top: 3em;
    margin-bottom: 5em;

    .panel-body, .panel-footer {
        background-color: rgba(255, 255, 250, 0.7);

        a {
            color: black;
        }
    }

    .panel-heading {
        background-color: rgba(255, 255, 250, 0.5);

        a {
            color: black;
        }
    }
}


//ids
#guitar-icon {
    border-radius: 50px;
    height: 100%;

}
