@model IEnumerable<GuitarStore.Models.Guitar>
@{
    ViewBag.Title = "List";
}

<div class="row">
    @foreach (var guitar in Model)
    {
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@guitar.Make @guitar.Model</h2>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="@guitar.Image" />
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Click for more information!", "Index", new { ID = guitar.ID })
                </div>
            </div>
        </div>
        }
    </div>