@{
    ViewBag.Title = "EmailConfirmationSent";
}

<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4 well">
        <h2>You have successfully registered and your email confirmation has been sent.  Please confirm your account before placing your first order.</h2>
    </div>
</div>