@{
    ViewBag.Title = "Forgot Password Sent";
}

<div class="container-fluid">

    <div class="col-md-6 col-md-offset-3 well text-center">
        <h2>Password Sent</h2>
        <div>
            We've sent you an email with instructions on resetting your password.
        </div>
        <div>
            @Html.ActionLink("Go to home page", "GoHome", "Account", new { @class = "btn btn-primary" });
        </div>
    </div>
</div>

@*@section Scripts{
        <script type="text/javascript">
            $("document").ready(function () {
                window.setInterval(function () {
                    window.location.href = "/";
                }, 5000);

            });
        </script>
    }*@