@{
    ViewBag.Title = "Password Recovery";
}

<div class="container-fluid">
        <div class="col-xs-6 col-xs-offset-3 well">
            <div class="row">
                <h2 class="text-center">Recover your password</h2>
                <p>Enter the email address associated with your account, and we'll send you instructions for resetting your password</p>
                @using (Html.BeginForm())
                {

                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <label class="control-label" for="email">Email Address</label>
                            <input class="form-control" type="email" name="email" required />
                            
                        </div>
                        <div>
                            <input class="btn btn-submit" type="submit" />
                        </div>
                    </div>


                }
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="box">Already know your username and password?</div>
                        <div class="box">
                            @Html.ActionLink("Click to Sign In", "Login", "Account", new { @class = "btn btn-primary" })
                        </div>
                       </div>
                    </div>
            </div>
    </div>
