@{
    ViewBag.Title = "Forgot Password Sent";
}

<div class="container-fluid">

    <div class="col-md-6 col-md-offset-3 well text-center">
        <h2>Password Sent</h2>

        <p>
            We've sent you an email with instructions on resetting your password.
            </p>
        <p>
            @Html.ActionLink("Go to home page", "Index", "Home", new { @class = "btn btn-primary"});
        </p>
    </div>
</div>

@*@section Scripts{
    <script type="text/javascript">
        $("document").ready(function () {
            window.setInterval(function () {
                window.location.href = "/";
            }, 5000);

        });
    </script>
}*@