@model Braintree.Customer
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated == false)
{
    <div class="container-fluid">
        <div class="row well">
            <div class="col-md-6 col-md-offset-3">
                <div id="alert" class="alert alert-warning">
                    <p class="lead">You must be logged in to manage your account</p>
                    <div class="box text-center">@Html.ActionLink("Click Here to Register for a New Account!", "Register", "Account", new { @class = "btn btn-primary" })</div>
                    <div class="box text-center">@Html.ActionLink("Click Here to Sign In!", "Login", "Account", new { @class = "btn btn-primary" })</div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 well">
                <p class="lead text-center">Manage Your Account</p>
                <div class="box text-center">@Html.ActionLink("Manage Your Saved Address", "Addresses", "Account", new { @class = "btn btn-primary" })</div>
                <div class="box text-center">@Html.ActionLink("Manage Your Saved Credit Cards", "CreditCards", "Account", new { @class = "btn btn-primary" })</div>
            </div>
        </div>
    </div>
}