@{

    ViewBag.Title = "Register";

}

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="well text-center">
            @if (ViewBag.PasswordFail != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.PasswordFail
                </div>
            }
            <h2>@ViewBag.Title</h2>
            @using (Html.BeginForm())
            {
                <div class="form-group form-inline">
                    <div class="row">
                        <label for="username" class="control-label col-md-2 col-md-offset-2">Username</label>
                        <input = name="username" class="form-control col-md-6" type="text" />
                    </div>
                    <div class="row">
                        <label for="password" class="control-label col-md-2 col-md-offset-2">Password</label>
                        <input name="password1" class="form-control col-md-10" type="password" />
                    </div>
                    <div class="row">
                        <label for="password" class="control-label col-md-2 col-md-offset-2">Verify Password</label>
                        <input name="password2" class="form-control col-md-10" type="password" />
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="@ViewBag.Title" class="btn btn-primary" />
                </div>
            }
            <div class="row text-center">
                <div class="box">Already Have An Account?</div>
                <div class="box">@Html.ActionLink("Click Here to Sign In!", "Login", "Account", new { @class = "btn btn-primary" })</div>
            </div>
        </div>
    </div>
</div>