@model IEnumerable<GuitarStore.Models.Amplifier>
@{
    ViewBag.Title = "List";
}

<div class="row">
    @foreach (var amplifier in Model)
    {
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2>@amplifier.Make @amplifier.Model</h2>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="@amplifier.Image" />
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Click for more information!", "Index", new { ID = amplifier.ID })
                </div>
            </div>
        </div>
    }
</div>